In [184]:
import pandas as pd
import pyodbc
from datetime import datetime

In [201]:
def readToSql(driver, server, database, query):
    connection_string= "driver={%s};server=%s;database=%s" % (driver, server, database)
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    f = open(query, "r")
    s = str(f.read())
    query=s
    x=pd.read_sql(query,connection)
    return x.head(10)

In [202]:
readToSql('SQL Server' , 'NORMAN' , 'prueba_norman', 'query.sql')

  OrderMonth TerritoryGroup     MonthAvg        Diff Indicator
0    2011-05         Europe  3490.420689  -91.420689     Below
1    2011-06         Europe  3490.420689 -351.420689     Below
2    2011-07         Europe  3490.420689 -343.504023     Below
3    2011-08         Europe  3490.420689 -427.006055     Below
4    2011-09         Europe  3490.420689 -377.269174     Below
5    2011-10         Europe  3490.420689 -497.826095     Below
6    2011-11         Europe  3490.420689 -485.191523     Below
7    2011-12         Europe  3490.420689 -420.015284     Below
8    2012-01         Europe  3490.420689 -454.309578     Below
9    2012-02         Europe  3490.420689 -361.373070     Below

In [199]:
def storeToSql(driver, server, database, query_path, table_name, log_path):
    connection_string= "driver={%s};server=%s;database=%s" % (driver, server, database)
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    f = open(query_path, "r")
    query=str(f.read())
    x=pd.read_sql(query,connection)
    cols = ",".join([str(i) for i in x.columns.tolist()])
    sql = f"INSERT INTO {table_name} (" +cols + ") %s" % query
    #print(sql)
    cursor.execute(sql)
    connection.commit()
    connection.close()
    date = datetime.now()
    now= date.strftime("%d/%m/%Y %H:%M:%S")
    if(cursor.rowcount>0):
         log = "Fueron insertados %s registros: %s\n" % (cursor.rowcount, now)
    else:  log = "No se insertaron los registros: %s\n" % (now)
    f = open(log_path, "a")
    f.write(log)
    return log

In [200]:
#Driver, Server, database, query_path, table_name, log_path
storeToSql('SQL Server' , 'NORMAN' , 'prueba_norman', 'query.sql', 'indicators', 'log.txt')

'Fueron insertados 114 registros: 29/04/2021 21:30:18\n'